.timer{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}
.timer2{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}
.timer3{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}
.timer4{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}

body {
  background-color: #f5f5f3;
}

.greybackground {
  background-color: #90a4ae;
}

.button-right {
  float: right;
  margin: 10px;
}

.margintopspace {
  margin: 30px;
}

.marginleft {
  margin: 10px;
}
