/*General styling*/
.light h1, h2, h3, p{
	font-family: 'Lato 800', sans-serif;
}




/*About page*/
.timer{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}
.timer2{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}
.timer3{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}
.timer4{width:200px; margin:20px auto; text-align:center; display:block; font-size:50px}

body {
  	background-color: #f5f5f3;
 	font-family: 'Lato 500', sans-serif;
 	letter-spacing: .5px;
}

.greybackground {
  background-color: #90a4ae;
}

.button-right {
  float: right;
  margin: 10px;
}

.margintopspace {
  margin: 30px;
}

.marginleft {
  margin: 0px 0px 0px 20px;
}

/*Index page*/
.body{
	background-image: url("../img/burger3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%
	height:100%;
   
}

.headertext{
	text-align: left;
	padding-top: 15%;
	padding-left: 15%;
	color: black;
}

.headertext {
	font-family: 'Lato', sans-serif;
	font-size: 90px;
}

.btn{
	margin-left: 15.5%;
}

/* Contact page*/

.information {
	text-align: center;
}
/*Order page*/

.margintextorder {
	margin: 40px 0px 0px 40px;
}
